BasedOnStyle: LLVM
UseTab: Never
# case is one tab ahead of switch
IndentCaseLabels: true
IndentWidth: 4
Language: Cpp
MaxEmptyLinesToKeep: 3

# for example getter will take three lines instead of one
AllowShortFunctionsOnASingleLine: false
# same for spaces using braces(new space)
AllowShortBlocksOnASingleLine: false
# custom to make our own BraceWrapping
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum : false
    AfterFunction : false
    AfterNamespace : false
    AfterStruct : false
    AfterUnion : false
    BeforeCatch : false
    BeforeElse : false
    IndentBraces : false
#option for pointer location like &vector instead of & vector
PointerAlignment: Left
SortIncludes: false
